{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-5" style="margin-top:100px">
    {% if user %}
        <h3>Поздравляем!</h3>
        <h4>Активация пользователя {{user.username}} прошла успешно.</h4>
    {% else %}
        <h3>Верификация не пройдена.</h3>
    {% endif %}
        <div class="form-group mt-4 mb-0">
            <a href="{% url 'index' %}" class="btn btn-primary btn-block" type="submit" >
                Перейти на главную страницу
            </a>
        </div>
    </div>
{% endblock %}
